body {
  transition-property: background-color filter opacity;
  transition-duration: 550ms;
  transition-timing-function: ease-in-out;
}

.page-transition {
  opacity: 0;
  background-color: var(--background);
  filter: blur(12px);
}

/* .SIDEBAR {
  width: 250px;
  transition-property: width;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.SIDEBARClap {
  width: 85px;
}


.Defaultcyber {
  left: 95%;
  transition-property: left;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.Move {
  left: 75%;
} */